*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#02160f;
color:white;
}

header{
height:80px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 50px;
position:fixed;
top:0;
width:100%;
background:#02160f;
border-bottom:1px solid rgba(229,193,88,.15);
z-index:1000;
}

.logoArea{
display:flex;
align-items:center;
gap:12px;
}

.logoArea img{
height:35px;
}

.logoArea h1{
font-size:30px;
font-weight:700;
}

.logoArea span{
color:#E5C158;
}

nav{
display:flex;
gap:30px;
}

nav a{
color:white;
text-decoration:none;
font-size:15px;
}

.hero{
height:100vh;
display:flex;
align-items:center;
padding:120px 80px;
background:
linear-gradient(
rgba(2,22,15,.75),
rgba(2,22,15,.75)
),
url("images/plaza.jpeg");

background-size:cover;
background-position:center;
}

.heroContent{
max-width:700px;
}

.hero h1{
font-size:58px;
line-height:1.1;
margin-bottom:25px;
}

.hero p{
font-size:18px;
line-height:1.8;
color:#d5d5d5;
}

.heroButtons{
display:flex;
gap:20px;
margin-top:40px;
}

button{
background:#E5C158;
padding:14px 25px;
border:none;
border-radius:30px;
font-weight:bold;
cursor:pointer;
}

.secondary{
background:transparent;
border:1px solid #E5C158;
color:white;
}

.statsGrid,
.aboutGrid,
.howGrid,
.founderGrid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
margin-top:50px;
}

.statCard,
.card,
.founderCard{
background:#062116;
padding:30px;
border-radius:25px;
border:1px solid rgba(229,193,88,.12);
}

section{
padding:100px 80px;
}

.sectionHeader{
text-align:center;
margin-bottom:60px;
}

.sectionHeader h2{
font-size:50px;
margin-top:20px;
margin-bottom:20px;
}

.sectionHeader p{
color:#cfcfcf;
line-height:1.8;
}

.goldText{
color:#E5C158;
letter-spacing:4px;
font-size:12px;
}

.founderImage{
width:100%;
height:280px;
object-fit:cover;
border-radius:20px;
margin-bottom:20px;
}

.designation{
color:#E5C158;
line-height:1.8;
margin:15px 0;
}

input,textarea{
width:100%;
padding:18px;
margin-bottom:15px;
background:#062116;
border:1px solid rgba(229,193,88,.1);
color:white;
border-radius:15px;
}

.contactBox{
max-width:700px;
margin:auto;
}

textarea{
height:120px;
}

@media(max-width:900px){

nav{
display:none;
}

.hero,
section{
padding:100px 30px;
}

.hero h1{
font-size:40px;
}

.statsGrid,
.aboutGrid,
.howGrid,
.founderGrid{
grid-template-columns:1fr;
}

}
